.container {
  display: flex;
  margin: 0 auto;
  width: 1250px;
}
.list {
  padding: 20px;
}
.title {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1b202bce;
  text-align: center;
}
.content {
  font-size: 14px;
  letter-spacing: 1px;
  color: #1b202bce;
}
